.mainLayout {
  display: grid;
  grid-template-columns: 240px 1fr 293px; /* Sidebar, Main Content, Right Sidebar */
  gap: 20px;
  height: 100vh;
}

.sidebar {
  grid-column: 1 / 2;
  position: sticky;
  top: 0;
  height: 100vh;
  background-color: #fff;
  border-right: 1px solid #ddd;
}

.mainContent {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.suggested {
  grid-column: 3 / 4;
  position: sticky;
  top: 0;
  height: fit-content;
  background-color: #fff;
}

.storiesContainer {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  margin-bottom: 20px;
  padding-left: 20px;
}

.storyPlaceholder {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #777;
}

.feed {
  width: 100%;
  display: flex;
  justify-content: center;
}
