/* PostContent.css */
.post-content {
  padding: 0 16px;
  margin: 8px 0;
  font-size: 14px;
  line-height: 18px;
  color: rgb(38, 38, 38);
  word-break: break-word;
}

.post-content strong {
  font-weight: 600;
  margin-right: 4px;
}

.content-preview {
  display: inline;
}

.more-link,
.less-link {
  color: rgb(142, 142, 142);
  cursor: pointer;
  margin-left: 4px;
  font-weight: 400;
}

.more-link:hover,
.less-link:hover {
  color: rgb(142, 142, 142);
}
