doctype html
html
  head
    title Welcome to Our App!
    link(rel='stylesheet', href='styles.css')
  body
    .container
      .header Welcome to Our App!
      .content
        p Hi there! We're thrilled to have you on board. Get ready to dive into a new world of possibilities with our community.
      p
    
   .button
      a(href='htttp://localhost:3000/users/login') Login
