.side-bar {
    background-color: white;
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    border-right: 1px solid #dbdbdb;
    overflow-y: auto;
  }

  .side-bar-small nav ul li {
    margin-bottom: 20px;
  }
  

  .side-bar-small {
    background-color: white;
    width: 72px;

    position: fixed;
    top: 0;
    left: 0;
    padding: px;
    border-right: 1px solid #dbdbdb;
    overflow-y: auto;
  }
  
  .side-bar .logo {
    width: 120px;
    margin-bottom: 25px;
  }
  
  .side-bar-small .logo {
    display: none;
  }

  .side-bar nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  .side-bar nav ul li {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .side-bar nav ul li a {
    text-decoration: none;
    color: black;
    margin-left: 10px;
  }
  
  .side-bar nav ul li div {
    display: flex;
    align-items: center;
  }
  
  .side-bar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .side-bar-small nav ul li {
    margin-bottom: 20px;
  }